<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence" version="2.2">
    <persistence-unit name="weatherPU">
        <class>WeatherData</class>
        <properties>
            <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://localhost:5432/yourDatabaseName"/>
            <property name="javax.persistence.jdbc.user" value="yourUsername"/>
            <property name="javax.persistence.jdbc.password" value="yourPassword"/>
            <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver"/>
            <property name="eclipselink.logging.level" value="FINE"/>
            <property name="javax.persistence.schema-generation.database.action" value="create"/>
        </properties>
    </persistence-unit>
</persistence>
